.container {
    width: 100%;
    height: 100%;
    animation: colors 7s infinite; /* propriedade de animação */
  }
  @keyframes colors {
    0% {
      background-color: #001F3F;
    }
    50% { 
      background-color: #FF4136;
    }
    100% {
      background-color: #001F3F;
    }
  }
body{
margin: 15px;
 text-align: center;
 background-color:#f8f8f7 solid;
}
input{
    margin: 5px;
background-color: #f8f8f7 solid;
border: black solid 1px;
}
form{
    text-align: center;

}
